table.talks { 
    width: 1000px;
    background-color: #006295;
    border: 2px #231F20 solid;
    border-collapse: collapse;
    border-spacing: 0px; 
    margin: 0 auto;
}


td.subject { 
    background-color: #006295;
    border: 1px #231F20 solid;
    font-family: helvetica, times, "times new roman", serif; 
    font-family: Verdana;
    font-weight: bold;
    font-size: 18px;
    color: #C5EFFD; 
    padding-left: 30px;
    text-align: left;
}


td { 
    border-bottom: 1px #29407C dotted;
    text-align: left;
    font-family: helvetica, times, "times new roman", serif; 
    font-weight: normal;
    font-size: .8em;
    color: #231F20;
    background-color: #FFFFFF;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 0px;
}

td a {
    color: #006295;
    background-color: #FFFFFF;
}

td a:visited {
    color: #006295;
    background-color: #FFFFFF;
}

td a:hover {
    color: #BD2031;
    background-color: #C5EFFD;
}
